input{
    width: 8%;
    height: 4%;
 }
 #direccion{
  margin-bottom: 2%;
 }
 .info{
  width: 30%;
  max-height: 10%;
 }
#salto{
 padding-top: 1%;
  padding-left: 60%;
}
form{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    justify-content: center;
    margin-bottom: 10%;
    font-size: x-large;
}
.distinto{width: 30%;
max-height: 10%;}

label{
    max-width: 95%;
    }
p{
  max-height: 2%;
}
input[type=button] {
  background-color: black;
  color: white;
  border-radius: 4%;
  }

#logoArriba, img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    object-fit: cover;
    padding-top: 2%;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-repeat: no-repeat;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    justify-items: stretch;
  }
  td{
    height: 20px;
  }
  h1{
    text-align: center;
  }
 #pieDePagina{
    text-align: center;
    font-weight: bold;
    border: solid 2px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    width: 90%;
  }
  a{color:white !important;
    text-decoration: none!important;
  }
  #fa{
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  #coment{
    font-size: x-small;
  }

  tbody{vertical-align: top;}
  
  #navegador, #nav, .navbar {
    color: white;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    justify-content: space-around !important;
  }
#footer{justify-content: center !important;
}
  ol{padding-top: 2%;
    padding-bottom: 10%} ;



#coment{
  font-size: x-small;
  color: grey;
}
.empanadas{
  text-align: center;
}

hr{
  width:50%;
  background-color: black;
  height: 4px;

}

  @media only screen and (max-width: 600px) { 
    table{
      width:80%;
    }
    ol{padding-bottom: 10%;
      margin: auto;
      text-align: center;
      width: 80%;
    }
    .navbar{
      max-width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    body{
      width: 100%;
    }
    #logoArriba{
      padding-top: 10%;
    }
    #logoArriba, img{
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      object-fit: cover;
      padding-top: 8%;
  }
  #pieDePagina{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  form{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    justify-content: center;
    margin-bottom: 14%;
}
input{
    width: 10%;
    height: 6%;
    min-height: 6%;
  }
  input[type=checkbox]{
    width: 14%;
    height: 14%;
  }
  .distinto{width: 34%;}
  }
